.upload-div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.camera-container {
  border: 5px solid #3f51b5;
}

.modal-container {
  width: 50% !important;
  height: 70vh !important;
  background-color: rgb(179, 174, 174);
  z-index: 10 !important;
  border: 3px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 30px;
}

.result-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
